.container3AboutSec {
    padding: 60px 18% 56px;
    background: linear-gradient(rgb(225, 240, 255), rgba(255, 255, 255, 0));
    min-height: 90vh;
    color: rgb(0, 0, 0);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .mainBoxAbout {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 60vh;
    flex-wrap: wrap;
  }
  .box2About {
    width: 300px;
    border-style: solid;
    border-top: none;
    border-right: 1px solid rgb(0, 0, 0);
    border-left: none;
    border-bottom: none;
    border-color: rgb(0, 0, 0);
  }
  .box2About span {
    margin: 0px;
    font-size: 70px;
    color: rgb(53 91 108);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 900;
    line-height: 1.167;
    letter-spacing: -0.01562em;
  }
  .btnAbout {
    background-color: rgb(9, 37, 50);
    border-radius: 12px;
    padding: 0px 40px;
    width: fit-content;
    text-decoration: none;
    text-transform: none;
    height: 60px;
  }
 @media screen and (max-width:768px) {
  .btnAbout span {
    font-size: 13px;
    font-weight: 700;
    color: white;
  }
  .middleheadingAbout{
    padding: 0pxn!important;
  }
  .aboutText {
    max-width: 100% !important;
   } 
   .imagebOx {
    padding: 0 !important;
}
 }
 @media screen and (max-width:868px) {
  .btnAbout span {
    font-size: 13px !important;
    font-weight: 700 !important;
    color: white !important;
  }
  .middleheadingAbout h1{
    font-size: 36px !important;
    padding: 3rem !important;
    text-align: center !important;
  }
  .aboutText {
    max-width: 100% !important;
   } 
   .imagebOx{
    padding:0rem !important;
   }
   .aboutText p {
    text-align: center;
    font-size: 40px;
   }
   .aboutText h1 {
    text-align: center;
    font-size: 40px;
   }
   .imagebOx img {
    max-width: 500px !important;
    width: 100% !important;
    padding: 5rem !important;
}
 }
 /* i will write css on about section */
 .parentAvout{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #112128;
  min-height: 100vh;
  width: 100%;
  color: #ffffff;

 }
 .containeAbout{
  width: 80%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.imagebOx img{
 max-width: 400px;
 width: 100%;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
}
.aboutText p {
  font-size: 30px;
 }
.aboutText h1 {
  font-size: 40px;
 }

 .aboutText {
 max-width: 40%;
}


/* 6 section */

.founderconatiner {
  padding: 60px 18% 56px;
 
  min-height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.mainBoxsection6founder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 60vh;
  flex-wrap: wrap;
}
/* .box2section6 {
  width: 350px;
  height: 130px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(179, 175, 175, 0.35) 0px 5px 15px;
} */
.box2section6founder h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.box2section6founder p{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

  /* border-style: solid;
  border-top: none;
  border-right: 1px solid white;
  border-left: none;
  border-bottom: none;
  border-color: white; */

/* .box2section5 span {
  margin: 0px;
  font-size: 70px;
  color: rgb(53 91 108);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 1.167;
  letter-spacing: -0.01562em;
}
.box2section5 h1 {
  margin: 0px;
  font-size: 20px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgb(19, 13, 13);
  display: flex;
  align-items: center;
  justify-content: center;

  height: 130px;
} */
@media screen and (max-width:768px) {
  .mainBoxsection5 {
     
      gap: 24px !important;
  }
  .box2section5 h1 {
      margin: auto -3rem  !important;
  }
  .HaediggSix h1{
    margin: auto -2.5rem !important;
  }
}
@media screen and (max-width:868px) {
  .mainBoxsection5 {
     
      gap: 24px !important;
  }
  .box2section5 h1 {
      margin: auto -3rem  !important;
  }
  .HaediggSix h1{
    margin: auto -2.5rem !important;
  }
}